@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(236, 236, 236);
}

header{
    padding: 15px 0px 5px 0px;
    margin-bottom: 100px;
    background-color: rgb(145, 145, 219);
}

header > h1{
  font-size: 22px;
}

header span#burger{
    cursor: pointer;
}

section.conf-standbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0px 10px 15px 10px;
}

form{
padding: 5px;

    display: flex;
    justify-content: center;
}

header input.pesquisa{
    padding: 15px;
    width: 95%;

    border-radius: 20px;
    border: 1px solid black;
}

header > nav{
    display: none;
}

header #tit-nav{
    margin: 20px 0px 10px 0px;
    padding: 3px;
    text-align: center;
    background-color:rgb(109, 109, 182);

}

header > nav > ul{
    list-style-type: none;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

header > nav > ul > li{
    padding: 10px;
}

header > nav > ul > li >a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

section#semestres{
    max-width: 850px;
    margin: auto;
    background-color: whitesmoke;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.493);
    border: 1px solid rgb(173, 173, 173);
}

section > h2{
    text-align: center;
    padding: 3px;
    margin-bottom: 15px;
    background-color: rgb(223, 223, 223);
}

div.container{
    margin: 10px;

    display: grid;
    grid-template-columns: repeat(2, 140px);
    justify-content: space-between;
}

div.conteudo{
    margin: 10px;
    padding: 15px;
    background-color:rgb(145, 145, 219);
}


